In [35]:
import pickle
def makeTokens(f):
    tkns_BySlash = str(f.encode('utf-8')).split('/')	# make tokens after splitting by slash
    total_Tokens = []
    for i in tkns_BySlash:
        tokens = str(i).split('-')	# make tokens after splitting by dash
        tkns_ByDot = []
        for j in range(0,len(tokens)):
            temp_Tokens = str(tokens[j]).split('.')	# make tokens after splitting by dot
            tkns_ByDot = tkns_ByDot + temp_Tokens
        total_Tokens = total_Tokens + tokens + tkns_ByDot
    total_Tokens = list(set(total_Tokens))	#remove redundant tokens
    if 'com' in total_Tokens:
        total_Tokens.remove('com')	#removing .com since it occurs a lot of times and it should not be included in our features
    return total_Tokens

In [36]:
with open ('tfidf_new.pkl','rb') as f:
    tfidf=pickle.load(f)

In [37]:
with open ('final_model.pkl','rb') as f:
    model=pickle.load(f)

In [38]:
import pandas as pd
from sklearn.metrics import f1_score, recall_score, accuracy_score,confusion_matrix,classification_report

In [39]:
x_real=pd.read_csv('labeled_public_test_hackathon_vcs_2023.csv').url
y_real=pd.read_csv('labeled_public_test_hackathon_vcs_2023.csv').type
# y_real=y_real.map({0:'good',1:'bad'})
x_r = tfidf.transform(x_real)
print(confusion_matrix(y_real, model.predict(x_r)))

[[44  0]
 [ 5 51]]

In [40]:
print(x_real)

0     http://newmatdesign.ro/wp-admin/wewe/YAHOO/ya....
1     http://ca.linkedin.com/directory/people/ca/pou...
2     http://www.ccent.com.au/index.php?option=com_m...
3     http://applerugs.co.uk/rugs/product_info.php?p...
4     http://mo-artworks.com/blog/diverse-videos/ein...
                            ...
95    http://www.x-lonne.nl/fotoboek/image?format=ra...
96    http://www.redcitysoul.co.uk/index.php/compone...
97    http://www.babolna.eu/index.php?option=com_sob...
98    http://www.ninopizzaria.com.br/index.php?optio...
99    http://webcamsocial.com/index.php?option=com_c...
Name: url, Length: 100, dtype: object

In [41]:
y_real.value_counts()

1    56
0    44
Name: type, dtype: int64

In [42]:
def prediction(url):
    with open ('tfidf.pkl','rb') as f:
        tfidf=pickle.load(f)
    with open ('final_model1.pkl','rb') as f:
        model=pickle.load(f)
    x_r=tfidf.transform([url])
    print(model.predict(x_r)[0])
    return model.predict(x_r)[0]

In [43]:
prediction("http://ca.linkedin.com")

ValueError: X has 1191697 features, but LogisticRegression is expecting 706410 features as input.

In [44]:
test=pd.read_csv('unlabeled_private_test_hackathon_vcs_2023.csv')

In [45]:
test=test.x

In [46]:
test

0       http://tobogo.net/cdsb/board.php?board=mylife&...
1       http://yonasu.com/masaki-aiba-to-star-in-new-d...
2       http://pbs.org/wgbh/aso/databank/entries/bhpen...
3                                   http://7seascity.com/
4       http://www.babolna.eu/index.php?option=com_con...
                              ...
1995                           http://brotherteeshow.com/
1996            http://en.wikipedia.org/wiki/Diane_Martel
1997               http://philyoungmusic.com/contact.aspx
1998    http://torcache.net/torrent/722B98D9F645DF03E5...
1999                     http://115.29.165.174:25663/ss64
Name: x, Length: 2000, dtype: object

In [47]:

# y_real=y_real.map({0:'good',1:'bad'})
x_r = tfidf.transform(test)
label=model.predict(x_r)

In [48]:
test=pd.DataFrame(test)

In [49]:
test

                                                      x
0     http://tobogo.net/cdsb/board.php?board=mylife&...
1     http://yonasu.com/masaki-aiba-to-star-in-new-d...
2     http://pbs.org/wgbh/aso/databank/entries/bhpen...
3                                 http://7seascity.com/
4     http://www.babolna.eu/index.php?option=com_con...
...                                                 ...
1995                         http://brotherteeshow.com/
1996          http://en.wikipedia.org/wiki/Diane_Martel
1997             http://philyoungmusic.com/contact.aspx
1998  http://torcache.net/torrent/722B98D9F645DF03E5...
1999                   http://115.29.165.174:25663/ss64

[2000 rows x 1 columns]

In [50]:
model.predict(x_r)

array([0, 0, 0, ..., 0, 0, 1])

In [51]:
label=pd.DataFrame(label)

In [52]:
final = pd.concat([test, label], axis=1)

In [53]:
final

                                                      x  0
0     http://tobogo.net/cdsb/board.php?board=mylife&...  0
1     http://yonasu.com/masaki-aiba-to-star-in-new-d...  0
2     http://pbs.org/wgbh/aso/databank/entries/bhpen...  0
3                                 http://7seascity.com/  0
4     http://www.babolna.eu/index.php?option=com_con...  1
...                                                 ... ..
1995                         http://brotherteeshow.com/  0
1996          http://en.wikipedia.org/wiki/Diane_Martel  0
1997             http://philyoungmusic.com/contact.aspx  0
1998  http://torcache.net/torrent/722B98D9F645DF03E5...  0
1999                   http://115.29.165.174:25663/ss64  1

[2000 rows x 2 columns]

In [54]:
final=final.rename(columns={"x": "x", "0": "y"})

In [60]:
final[final[0] == 1].count()

x    936
0    936
dtype: int64

In [20]:
final.to_csv('final_2023_new.csv',index=False)

In [21]:
final.head()

                                                   x  0
0  http://tobogo.net/cdsb/board.php?board=mylife&...  0
1  http://yonasu.com/masaki-aiba-to-star-in-new-d...  0
2  http://pbs.org/wgbh/aso/databank/entries/bhpen...  0
3                              http://7seascity.com/  0
4  http://www.babolna.eu/index.php?option=com_con...  1

In [31]:
with open('results.csv', 'w') as f:
    for url in test:
        line = prediction(url)
        f.write(line)
        f.write('\n')

1

TypeError: write() argument must be str, not numpy.int64